@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nice Doctor</h1>
    <p class="lead">The most trusted online doctor</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>History</h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
       
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p></p>
       
    </div>
</div>