@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron ">
    
        <h1 class="display-4">Nice doctor</h1>
        <p class="lead">The most trusted online doctor</p>
       
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Insomnia disorder </h2>
        <p>
            Insomnia disorder is a common sleep disorder, which refers to a subjective experience of dissatisfaction with sleep time and/or sleep quality despite appropriate sleep opportunities and sleep environment, and affecting daytime social functioning, which may manifest as Difficulty falling asleep and possibly waking up at night, or waking up early the next morning and having trouble getting back to sleep.

        </p>

    </div>
    <div class="col-md-4">
        <h2>Drug-induced dermatitis</h2>

        <p>Drug-induced dermatitis refers to the inflammatory damage to the skin and mucous membranes caused by drugs entering the human body through oral administration, injection, inhalation, etc., which may be accompanied by certain systemic symptoms. In severe cases, multiple organs and systems may be involved.</p>

    </div>
    <div class="col-md-4">
        <h2>More Scientific knowledge >></h2>
        <p></p>

    </div>
</div>
